*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.open-work-sans{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
}
header{
    background-image: url("../images/banner/banner3.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: right;
}
header .container{
    width: 400px;
    text-align: right;
    margin: 215px 230px 165px;
}
header .container h1{
    font-size: 3em;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
}
header .container p{
    color:white;
    font-weight: lighter;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 20px;
}
header .container button, .plans .image div button{
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
}
.top .failure{
    display: flex;
    margin: 130px 230px;
    gap: 80px;
    align-items: center;
}
.top .failure .fail-note h3{
    font-size: 30px;
    margin-bottom: 24px;
}
.top .failure .fail-note p{
    font-weight: lighter;
    line-height: 25px;
}
.top .failure .fail-note div{
    margin-top: 24px;
    line-height: 40px;
}


.plans{
    margin: 130px 230px;
}
.plans h1{
    text-align: center;
    margin-bottom: 50px;
}
.plans .logo-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}
.plans .image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.plans .image{
    background-image: url("../images/gradient1.png"), url("../images/watch.png");
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 65px;
}
.plans .image div{
    width: 360px;
}

.plans .image div p{
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin-bottom: 24px;
}

  

footer{
    background-color: black;
    color: white;
    display:flex;
    padding: 130px 230px;
    gap: 330px;
}
footer .future h3, footer .media h3{
    font-size: 30px;
    margin-bottom: 20px;
}
footer .future #info{
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 20px;
}
footer .future #email, footer .future #phone{
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 20px;
}
footer .future div img{
    margin-right: 20px;
}
footer .media input{
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
}
footer .media button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #005FAC;
    color: white;
    font-weight: bolder;
}
